@model WebTestb1.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
    </dl>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.From)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.To)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectTasks.First().Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectTasks.First().ProjectTaskState)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
                <h4>Tasks</h4>

            @foreach (var item in Model.ProjectTasks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.From)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.To)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectTaskState)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-controller="ProjectTasks" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="ProjectTasks" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="ProjectTasks" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a asp-controller="ProjectTasks" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    else
    {
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    }
}

